* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
/* navigation bar */
nav {
  width: 90%;
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5);
  position: fixed;
  z-index: 1;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
}

nav ul li ul li {
  float: none;
  display: list-item;
  position: relative;
}

nav ul li ul li a {
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
  display: block;
}

nav ul li ul li a:hover {
  color: #fff;
}

nav p {
  color: white;
}
.nav-links {
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: greenyellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

/* section part 1 */
.firstslide {
  background-image: url("../homeImage/slide3.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll {
  position: fixed;
  bottom: 30px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scroll.show {
  opacity: 1;
}

.fa-arrow-up {
  color: white;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 50%;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.firstcolumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightgray;
  padding: 20px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.button:hover {
  background-color: #ddd;
}

.options-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
}

.button:hover .options-list {
  display: block;
}

.options-list li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.options-list li:hover {
  background-color: #ddd;
}

h2 {
  margin-top: 80px;
  margin-bottom: 40px;
}
.user-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-top: 30pxpx;
  width: 300px;
  height: 50%;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.png {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  overflow: hidden;
  border-radius: 50%;
}

.png img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  text-align: center;
}

.buttons {
  margin-top: 10px;
  background-color: grey;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.buttons:hover {
  background-color: lightgray;
}
.sides {
  display: flex;
  justify-content: space-between;
}
.text {
  text-align: center;
}
.scroll {
  position: fixed;
  bottom: 30px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scroll.show {
  opacity: 1;
}

.fa-arrow-up {
  color: white;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 50%;
  padding: 20px;
}
footer .container {
  max-width: 1170px;
  margin: auto;
  width: 80%;
}
footer .row {
  display: flex;
  flex-wrap: wrap;
}
footer ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: lightblue;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media (max-width: 700px) {
  .sides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 100%;
  }
  /* navigation bar */
  nav {
    background-color: rgba(51, 51, 51, 0.5);
  }

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.8);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    transition: 1s;
  }
  .nav-links ul li a {
    font-size: 15px;
  }

  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .for i {
    position: absolute;
    top: 8%;
    right: 30px;
    font-size: 20px;
    transform: translateY(-50%);
  }

  .footer-col .social-links a {
    height: 36px;
    width: 32px;
    font-size: 15px;
  }
  .footer-col {
    padding: 10px;
    width: 100%;
  }
}
